<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home | Project-G</title>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
</head>

<body>
    <table id="bodyTable">
        <tr>
            <td>
                <nav id="navMenu"></nav>
            </td>
        </tr>
        <tr>
            <td style="padding-top:100px;">
                <div class="container">
                    <div class="panel-heading">
                        <h2><span th:utext="${userName}"></span></h2>
                    </div>
                    <div>
                        <form action="/lobbies" method="get" id="lobbiesForm"/>
                        <button type="submit" form="lobbiesForm" value="Submit" class="defaultButton">Lobbies</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
<script src="/js/common.js"></script>
</body>
</html>