<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lobbies | Project-G</title>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/lobbies.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="panel-heading hidden">
    <h2><span th:utext="${userName}"></span></h2>
</div>

<table id="bodyTable">
    <tr>
        <td>
            <nav id="navMenu"></nav>
        </td>
    </tr>
    <tr>
        <td style="padding-top:100px;">
            <div class="container">
                <div class="panel-group" style="margin-top:40px">

                    <h2>Available lobbies</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Lobby</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${lobbies.empty}">
                            <td colspan="2"> No lobbies are available</td>
                        </tr>
                        <tr th:each="lobby : ${lobbies}">
                            <td><span th:text="${lobby}"> Lobby </span></td>
                            <td style="padding-right:10px;">
                                <form th:action="@{/join/} + ${lobby}" method="get">
                                    <button class="tableButton"  type="Submit">Join</button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/watch/} + ${lobby}" method="get">
                                    <button class="tableButton" type="Submit">Watch</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <form autocomplete="off" action="#" th:action="@{/createLobby}" th:object="${game}" method="post" class="form-horizontal" role="form">
                        <h2>Create a new lobby</h2>
                        <table>
                            <td>
                                <td id="lobbyList">
                                    <div class="form-group">
                                        <select id="game" name="game">
                                            <option value="">Select Game</option>
                                            <option th:each="game : ${gameNames}" th:value="${game}" th:text="${game}"></option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <button type="submit"  class="defaultButton" id="createLobby">Create</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>


<script src="/js/common.js"></script>
</body>
</html>