<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Secret Hitler | Project-G</title>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/screen.css"/>
</head>
<body>
<input type="hidden" id="userName" th:value="${userName}"/>
<input type="hidden" id="lobbyName" th:value="${lobbyName}"/>

<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<img id="splash-page" class="splash-screen" src="/games/secrethitler/secret_hitler_splash.png" alt="Secret Hitler">
<img id="splash-victory" class="splash-victory hidden" src="" alt="Vinner">
<div id="game-page">
    <div class="game-page-container">
        <canvas id="game-canvas-liberal" class="game-canvas-liberal hidden" style="z-index: 0;"></canvas>
        <canvas id="game-canvas-fascist" class="game-canvas-fascist hidden"></canvas>
        <canvas id="game-canvas-victory" class="game-canvas-liberal hidden" style="z-index: 1;"></canvas>
        <div id="playersArea" class="players hidden"></div>
        <div id="statusBar" class="status-bar">
            <p id="statusBarText" class="status-bar-text"></p>
        </div>
    </div>
</div>

<video id="video1" playsinline autoplay muted></video>
<video id="video2" playsinline autoplay></video>

<div id="buttonDiv">
    <button id="startButton">Start</button>
    <button id="callButton">Call</button>
    <button id="hangupButton">Hang Up</button>
</div>

<img id="qrCode"/>

<div id="rules" class="rules">
    <h2 style="text-align: justify;"><strong>OVERVIEW</strong></h2>
    <p style="text-align: justify;">At the beginning of the game, each player is secretly assigned to one of three
        roles:&nbsp;<strong>Liberal</strong>,&nbsp;<strong>Fascist</strong>, or&nbsp;<strong>Hitler</strong>. The
        Liberals have a majority, but they don&rsquo;t know for sure who anyone is; Fascists must resort to secrecy and
        sabotage to accomplish their goals. Hitler plays for the Fascist team, and the Fascists know Hitler&rsquo;s
        identity from the outset, but Hitler doesn&rsquo;t know the Fascists and must work to figure them out.</p>
    <p style="text-align: justify;">The Liberals win by enacting five Liberal Policies or killing Hitler. The Fascists
        win by enacting six Fascist Policies, or if Hitler is elected Chancellor after three Fascist Policies have been
        enacted.</p>
    <p style="text-align: justify;">Whenever a Fascist Policy is enacted, the government becomes more powerful, and the
        President is granted a single-use power which must be used before the next round can begin. It doesn&rsquo;t
        matter what team the President is on; in fact, even Liberal players might be tempted to enact a Fascist Policy
        to gain new powers.</p>
    <h2 style="text-align: justify;"><strong>OBJECT</strong></h2>
    <p style="text-align: justify;">Every player has a secret identity as a member of either the Liberal team or the
        Fascist team. Players on the Liberal team win if either:</p>
    <p style="text-align: justify;">&bull; Five Liberal Policies are enacted.</p>
    <p style="text-align: justify;">OR</p>
    <p style="text-align: justify;">&bull; Hitler is assassinated.</p>
    <p style="text-align: justify;">Players on the Fascist team win if either:</p>
    <p style="text-align: justify;">&bull; Six Fascist Policies are enacted.</p>
    <p style="text-align: justify;">OR</p>
    <p style="text-align: justify;">&bull; Hitler is elected Chancellor any time after the third Fascist Policy has been
        enacted.</p>
    <h3 style="text-align: justify;"><br/><strong>GAMEPLAY</strong></h3>
    <p style="text-align: justify;"><br/>Secret Hitler is played in rounds. Each round has an Election to form a
        government, a Legislative Session to enact a new Policy, and an Executive Action to exercise governmental power.
    </p>
    <h4 style="text-align: justify;"><br/><strong><em>ELECTION</em></strong></h4>
    <p style="text-align: justify;"><br/>1.&nbsp;<strong>Pass the Presidential Candidacy</strong><br/>At the beginning
        of a new round, the President placard moves clockwise to the next player, who is the new Presidential Candidate.
    </p>
    <p style="text-align: justify;">2.&nbsp;<strong>Nominate a Chancellor</strong><br/>The Presidential Candidate
        chooses a Chancellor Candidate by passing the Chancellor placard to any other eligible player. The Presidential
        Candidate is free to discuss Chancellor options with the table to build consensus and make it more likely the
        Government gets elected.</p>
    <p style="text-align: justify;"><strong>Eligibility:</strong><br/>The last elected President and Chancellor are
        &ldquo;term-limited,&rdquo; and ineligible to be nominated as Chancellor Candidate.</p>
    <p style="text-align: justify;">ON ELIGIBILITY:<br/>&bull; Term limits apply to the President and Chancellor who
        were last elected, not to the last pair nominated.</p>
    <p style="text-align: justify;">&bull; Term limits only affect nominations to the Chancellorship; anyone can be
        President, even someone who was just Chancellor.</p>
    <p style="text-align: justify;">&bull; If there are only five players left in the game, only the last elected
        Chancellor is ineligible to be Chancellor Candidate; the last President may be nominated.</p>
    <p style="text-align: justify;">&bull; There are some other rules that affect eligibility in specific ways: the Veto
        Power and the Election Tracker. You don&rsquo;t need to worry about those yet, and we&rsquo;ll talk about each
        one in its relevant section.</p>
    <p style="text-align: justify;">3.&nbsp;<strong>Vote on the government</strong><br/>Once the Presidential Candidate
        has chosen an eligible Chancellor Candidate, players may discuss the proposed government until everyone is ready
        to vote. Every player, including the Candidates, votes on the proposed government. Once everyone is ready to
        vote, reveal your Ballot cards simultaneously so that everyone&rsquo;s vote is public.</p>
    <p style="text-align: justify;"><strong>If the vote is a tie, or if a majority of&nbsp;</strong><strong>players
        votes no:</strong></p>
    <p style="text-align: justify;">The vote fails. The Presidential Candidate misses this chance to be elected, and the
        President placard moves clockwise to the next player. The Election Tracker is advanced by one Election.</p>
    <p style="text-align: justify;"><br/><strong>Election Tracker</strong>: If the group rejects three governments in a
        row, the country is thrown into chaos. Immediately reveal the Policy on top of the Policy deck and enact it. Any
        power granted by this Policy is ignored, but the Election Tracker resets, and existing term-limits are
        forgotten. All players become eligible to hold the office of Chancellor for the next Election. If there are
        fewer than three tiles remaining in the Policy deck at this point, shuffle them with the Discard pile to create
        a new Policy deck.</p>
    <p style="text-align: justify;"><em>Any time a new Policy tile is played face-up,&nbsp;</em><em>the Election Tracker
        is reset, whether it was&nbsp;</em><em>enacted by an elected government or enacted by&nbsp;</em><em>the
        frustrated populace.</em></p>
    <p style="text-align: justify;"><strong>If a majority of players votes yes:</strong></p>
    <p style="text-align: justify;">The Presidential Candidate and Chancellor Candidate become the new President and
        Chancellor, respectively.</p>
    <p style="text-align: justify;"><strong>If three or more Fascist Policies have been&nbsp;</strong><strong>enacted
        already:</strong></p>
    <p style="text-align: justify;"><br/><em>Ask if the new Chancellor is Hitler. If&nbsp;</em><em>so, the game is over
        and the Fascists win.&nbsp;</em><em>Otherwise, other players know for sure the&nbsp;</em><em>Chancellor is not
        Hitler.</em></p>
    <p style="text-align: justify;"><br/>Proceed as usual to the Legislative Session.</p>
    <h3 style="text-align: justify;"><em>LEGISLATIVE SESSION</em></h3>
    <p style="text-align: justify;"><br/>During the Legislative Session, the President and Chancellor work together to
        enact a new Policy in secret. The President draws the top three tiles from the Policy deck, looks at them in
        secret, and discards one tile face down into the Discard pile. The remaining two tiles go to the Chancellor, who
        looks in secret, discards one Policy tile face down, and enacts the remaining Policy by placing the tile face up
        on the corresponding track.</p>
    <p style="text-align: justify;">Verbal and nonverbal communication between the President and Chancellor is
        forbidden. The President and Chancellor MAY NOT pick Policies to play at random, shuffle the tiles before
        discarding one, or do anything else clever to avoid secretly and intentionally selecting a Policy. Additionally,
        the President should hand both Policies over at the same time, rather than one at a time to gauge the Chancellor&rsquo;s
        reaction. Attempting to telegraph the contents of your hand using randomness or any other unusual selection
        procedure violates the spirit of the game. Don&rsquo;t do it.</p>
    <p style="text-align: justify;"><br/><strong>Discarded Policy tiles should never be revealed&nbsp;</strong><strong>to
        the group. Players must rely on the word of&nbsp;</strong><strong>the President and Chancellor, who are free to&nbsp;</strong><strong>lie.</strong>
    </p>
    <p style="text-align: justify;"><br/><strong>ABOUT LYING:</strong>&nbsp;Often, some players learn things that the
        rest of the players don&rsquo;t know, like when the President and Chancellor get to see Policy tiles, or when a
        President uses the Investigate power to see someone&rsquo;s Party Membership card. You can always lie about
        hidden knowledge in Secret Hitler. The only time players MUST tell the truth is in gameending, Hitler related
        scenarios: a player who is Hitler must say so if assassinated or if elected Chancellor after three Fascist
        Policies have been enacted.</p>
    <p style="text-align: justify;"><br/><strong>If there are fewer than three tiles remaining&nbsp;</strong><strong>in
        the Policy deck at the end of a Legislative&nbsp;</strong><strong>Session</strong>, shuffle them with the
        Discard pile to create a new Policy deck. Unused Policy tiles should never be revealed, and they should not be
        simply placed on top of the new Policy deck.</p>
    <p style="text-align: justify;"><strong>If the government enacted a Fascist Policy that&nbsp;</strong><strong>covered
        up a Presidential Power,</strong>&nbsp;the sitting President gets to use that power. Proceed to the Executive
        Action.</p>
    <p style="text-align: justify;"><br/><strong>If the government enacted a Liberal Policy or&nbsp;</strong><strong>a
        Fascist Policy that grants no Presidential&nbsp;</strong><strong>Power,</strong>&nbsp;begin a new round with a
        new Election.</p>
    <h3 style="text-align: justify;"><br/><em>EXECUTIVE ACTION</em></h3>
    <p style="text-align: justify;">If the newly-enacted Fascist Policy grants a Presidential Power, the President must
        use it before the next round can begin. Before using a power, the President is free to discuss the issue with
        other players, but ultimately the President gets to decide how and when the power is used. Gameplay cannot
        continue until the President uses the power. Presidential Powers are used only once; they don&rsquo;t stack or
        roll over to future turns.</p>
    <h4 style="text-align: justify;">PRESIDENTIAL POWERS</h4>
    <p style="text-align: justify;"><br/><strong>Investigate Loyalty</strong></p>
    <p style="text-align: justify;"><br/>The President chooses a player to investigate. Investigated players should hand
        their Party Membership card (not Secret Role card!) to the President, who checks the player&rsquo;s loyalty in
        secret and then returns the card to the player. The President may share (or lie about!) the results of their
        investigation at their discretion. No player may be investigated twice in the same game.</p>
    <p style="text-align: justify;"><br/><strong>Call Special Election</strong></p>
    <p style="text-align: justify;"><br/>The President chooses any other player at the table to be the next Presidential
        Candidate by passing that player the President placard. Any player can become President&mdash;even players that
        are term-limited. The new President nominates an eligible player as Chancellor Candidate and the Election
        proceeds as usual. A Special Election does not skip any players. After a Special Election, the President placard
        returns to the left of the President who enacted the</p>
    <p style="text-align: justify;"><strong>Special Election</strong></p>
    <p style="text-align: justify;"><br/>If the President passes the presidency to the next player in the rotation, that
        player would get to run for President twice in a row: once for the Special Election and once for their normal
        shift in the Presidential rotation.</p>
    <p style="text-align: justify;"><br/><strong>Policy Peek</strong></p>
    <p style="text-align: justify;"><br/>The President secretly looks at the top three tiles in the Policy deck and then
        returns them to the top of the deck without changing the order.</p>
    <p style="text-align: justify;"><br/><strong>Execution</strong></p>
    <p style="text-align: justify;"><br/>The President executes one player at the table by saying &ldquo;I formally
        execute [player name].&rdquo; If that player is Hitler, the game ends in a Liberal victory. If the executed
        player is not Hitler, the table should not learn whether a Fascist or a Liberal has been killed; players must
        try to work out for themselves the new table balance. Executed players are removed from the game and may not
        speak, vote, or run for office.</p>
    <h3 style="text-align: justify;"><br/><em>VETO POWER</em></h3>
    <p style="text-align: justify;"><br/>The Veto Power is a special rule that comes into effect after five Fascist
        Policies have been enacted. For all Legislative Sessions after the fifth Fascist Policy is enacted, the
        Executive branch gains a permanent new ability to discard all three Policy tiles if both the Chancellor and
        President agree. The President draws three Policy tiles, discards one, and passes the remaining two to the
        Chancellor as usual. Then Chancellor may, instead of enacting either Policy, say &ldquo;I wish to veto this
        agenda.&rdquo; If the President consents by saying, &ldquo;I agree to the veto,&rdquo; both Policies are
        discarded and the President placard passes to the left as usual. If the President does not consent, the
        Chancellor must enact a Policy as normal.</p>
    <p style="text-align: justify;">Each use of the Veto Power represents an inactive government and advances the
        Election Tracker by one.</p>
    <h2 style="text-align: justify;"><br/>STRATEGY NOTES</h2>
    <p style="text-align: justify;"><br/>&bull;<strong>&nbsp;Everyone should claim to be a Liberal</strong>. Since the
        Liberal team has a voting majority, it can easily shut out any player claiming to be a Fascist. As a Fascist,
        there is no advantage to outing yourself to the majority. Additionally, Liberals should usually tell the truth.
        Liberals are trying to figure out the game like a puzzle, so lying can put their team at a significant
        disadvantage.</p>
    <p style="text-align: justify;"><br/>&bull;&nbsp;<strong>If this is your first time playing
        Hitler,&nbsp;</strong><strong>just remember: be as Liberal as possible</strong>. Enact Liberal Policies. Vote
        for Liberal governments. Kiss babies. Trust your fellow Fascists to create opportunities for you to enact
        Liberal Policies and to advance Fascism on their turns. The Fascists win by subtly manipulating the table and
        waiting for the right cover to enact Fascist Policies, not by overtly playing as evil.</p>
    <p style="text-align: justify;"><br/>&bull;&nbsp;<strong>Liberals frequently benefit from slowing
        play&nbsp;</strong><strong>down and discussing the available information.&nbsp;</strong>Fascists frequently
        benefit from rushing votes and creating confusion.</p>
    <p style="text-align: justify;"><br/>&bull;&nbsp;<strong>Fascists most often win by electing
        Hitler,&nbsp;</strong><strong>not by enacting six Policies!</strong>&nbsp;Electing Hitler isn&rsquo;t an
        optional or secondary win condition, it&rsquo;s the core of a successful Fascist strategy. Hitler should always
        play as a Liberal, and should generally avoid lying or getting into fights and disagreements with other players.
        When the time comes, Hitler needs the Liberals&rsquo; trust to get elected. Even if Hitler isn&rsquo;t
        ultimately elected, the distrust sown among Liberals is key to getting Fascists elected late in the game.</p>
    <p style="text-align: justify;"><br/>&bull;<strong>&nbsp;Ask other players to explain why they
        took&nbsp;</strong><strong>an action.</strong>&nbsp;This is especially important with Presidential Powers&mdash;in
        fact, ask ahead of time whom a candidate is thinking of investigating/ appointing/assassinating.</p>
    <p style="text-align: justify;"><br/>&bull;&nbsp;<strong>If a Fascist Policy comes up, there are only&nbsp;</strong><strong>three
        possible culprits: The President, the&nbsp;</strong><strong>Chancellor, or the Policy Deck</strong>. Try to
        figure out who (or what!) put you in this position.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <h2 style="text-align: justify;">THANK YOU</h2>
    <p style="text-align: justify;">The game is based on:&nbsp;<a href="https://www.secrethitler.com/">https://www.secrethitler.com/</a>
    </p>
    <p style="text-align: justify;">Assets used from:</p>
    <ul style="text-align: justify;">
        <li>
            <a href="https://yingtongli.me/blog/">https://yingtongli.me/blog/</a>
        </li>
        <li>
            <a href="https://github.com/cozuya/">https://github.com/cozuya/</a>
        </li>
        <li>
            <a href="https://www.ultraboardgames.com/secret-hitler/game-rules.php">https://www.ultraboardgames.com/secret-hitler/game-rules.php</a>
        </li>
    </ul>
    <p style="text-align: justify;">&nbsp;</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/js/call.js"></script>
<script src="/js/screen.js"></script>

</body>
</html>
