<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Demo | Project-G</title>
    <link rel="stylesheet" href="/css/screen.css"/>
</head>
<body>
<input type="hidden" id="userName" th:value="${userName}"/>
<input type="hidden" id="lobbyName" th:value="${lobbyName}"/>

<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<img id="splash-page" class="splash-screen" src="/games/secrethitler/secret_hitler_splash.png" alt="Secret Hitler">
<div id="game-page">
    <div class="game-page-container">
        <canvas id="game-canvas-liberal" class="game-canvas-liberal hidden" style="z-index: 0;"></canvas>
        <canvas id="game-canvas-fascist" class="game-canvas-fascist hidden"></canvas>
        <canvas id="game-canvas-liberal-overlay" class="game-canvas-liberal hidden" style="z-index: 1;"></canvas>
        <div id="playersArea" class="players hidden"></div>
        <div id="statusBar" class="status-bar hidden">
            <p id="statusBarText" class="status-bar-text">
                TESTING the statusbar styles
            </p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/screen.js"></script>

</body>
</html>
