<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div id="form_wrapper">
    <div id="form_left">
        <img src="/images/common/user.png" alt="computer icon">
    </div>
    <form id="form_right" th:action="@{/login}" method="POST">
        <h1>Welcome</h1>
        <div class="input_container">
            <i class="fas fa-envelope"></i>
            <input th:placeholder="Name" placeholder="name" type="text" name="name" id="field_name" class='input_field'>
        </div>
        <div class="input_container">
            <i class="fas fa-lock"></i>
            <input th:placeholder="Password" placeholder="password" type="password" name="password" id="field_password" class='input_field'>
        </div>
        <h2><span></span></h2>
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Name or Password invalid, please verify</p>
        </div>
        <input type="submit" value="Login" id='input_submit' class='input_field'>
        <!--<span>Forgot <a href="#"> Username / Password ?</a></span> -->
        <form th:action="@{/registration}" method="get">
            <span id='create_account'>
                    <a href="/registration">Create your account ➡ </a>
            </span>
        </form>


    </form>
</div>
</body>
</html>