<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div id="form_wrapper">
    <div id="form_left">
        <img src="/images/common/lock.png" alt="computer icon">
    </div>
    <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" id="form_right" role="form">
        <h1>Registration Form</h1>
        <div class="input_container">
            <i class="fas fa-envelope"></i>
            <input type="text" th:field="*{name}" placeholder="Name" class="input_field"/>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
        </div>
        <div class="input_container">
            <i class="fas fa-lock"></i>
            <input type="password" th:field="*{password}" placeholder="Password" class="input_field"/>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
        </div>
        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
        <input type="submit" value="Register" id='input_submit' class='input_field'>
        <!--<span>Forgot <a href="#"> Username / Password ?</a></span> -->
        <form th:action="@{/login}" method="get">
            <span id='create_account'>
                    <a href="/login">Login with your account</a>
            </span>
        </form>


    </form>
</div>



</body>
</html>